@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    color: rgba(153, 153, 153, 1);
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 252, 252, 1);
    margin: 15px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.7);
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(153, 153, 153, 1);
  }
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

html,
body {
  font-family: Mulish, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-ExtraBold.ttf");
  font-weight: 800;
}

.event_card figure {
  overflow: hidden; /* hide the excess */
}

.event_card figure img {
  display: block; /* no whitespace */
  transition: .3s ease-in-out;
}

.event_card:hover figure img{
  transform: scale(1.05);
}

.event_card:hover figure div figcaption{
  font-weight: 900;
}

/* .review-card, .review-card * {
  border: 1px solid blue;
} */

.review-card img {
  position: absolute;
  top: 0px;
  right: 0px;
}

.review-card {
  position: relative;
  --card-color: rgba(243, 243, 245, 1);
  --pillar-size: 34px;
  --big-circle-r: 35px;
  --circle-r: 10px;
  --circle-d: calc(var(--circle-r) * 2);
  --circles-space: calc(var(--big-circle-r) + var(--pillar-size));
  --circle-extend-inset: calc(var(--circle-r) + var(--circles-space));

  background: 
   /* Big Circle Cutout */ radial-gradient(
        circle at 100% 0%,
        transparent var(--big-circle-r),
        var(--card-color) calc(var(--big-circle-r) + 1px)
      )
      0px var(--pillar-size) / calc(100% - var(--pillar-size)) 100% no-repeat
      no-repeat,
    /* Top Circle  */
      radial-gradient(
        circle closest-side,
        var(--card-color) 100%,
        transparent calc(100% + 1px)
      )
      calc(100% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
      no-repeat no-repeat,
    /* Right Circle */
      radial-gradient(
        circle closest-side,
        var(--card-color) 100%,
        transparent calc(100% + 1px)
      )
      100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
      no-repeat,
    /* Top Circle Extend */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0px
      var(--circle-r) / calc(100% - var(--circles-space))
      calc(100% - var(--circle-r)) no-repeat no-repeat,
    /* Right Gap fill Pillar */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0px
      0px / calc(100% - var(--circle-extend-inset)) var(--circle-d) no-repeat
      no-repeat,
    /* Right Circle Extend  */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 100%
      var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat,
    /* Right Gap fill Pillar */
      linear-gradient(0deg, var(--card-color) 100%, var(--card-color) 100%) 0
      var(--circles-space) / calc(100% - var(--circle-r)) 100% no-repeat
      no-repeat;
}

.review-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 71px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(243,243,245,0) 0%, rgba(243,243,245,0.5) 29%, rgba(243,243,245,1) 100%); 
}

.carousel {
  height: calc(100% - 69px);
  border-radius: 0 10px 0 0;
}

.carousel .thumbs-wrapper {
  margin: 0;
  background-color: rgb(237 237 237 / var(--tw-bg-opacity));
  border-radius: 0 0 10px 0;
}
